<h1> A list of all merchants </h1>

<table>
  <tr>
    <th>Name</th>
    <th>No of times used</th>
  </tr>

<%@merchant_list.each do |merchant_f|%>
  <tr>
<td><%for merchant in @merchants %><%=merchant.name if merchant.id == merchant_f["merchant_id"].to_i%><%end%></td>
<td><%=merchant_f["count"]%></td>

<td><a href = "/merchants/<%= merchant_f["merchant_id"].to_i %>"> Show Detail</a></td>

<%end%>
</tr>
<
</table>
