<h1><%=@merchant.name%></h1>



<form method="get" action = "<%=@merchant.id%>/transactions">

    <input class = "button" type="submit" value="Show Transactions for Merchant"/>
</form>

<form method="post" action = "/merchants/delete/<%=@merchant.id%>">

    <input class = "button" type="submit" value="Delete Merchant"/>
</form>
