<div> <p>Income for the last 30 days: £ <%=@income%></p>
  <p>Outgoings for the last 30 days: £<%=@outgoing%></p>
  <p>Overall Balance: £<%=@balance%></p>
  <p><%= "You are close to your limit" if @balance <= 100%></p>
</div>
