<!DOCTYPE html>
<html>
<head>
  <title>Payment Tracker</title>

</head>
<body>
<main>
  <nav>
    <ul>
      <li>
        <a>Add Transaction</a>
      </li>
      <li>
        <a>View All Transactions </a>
      </li>
      <li>
        <a> Reports</a>
      </li>
      <li>
        <a href = "/merchants"> Merchant</a>
      </li>
      <li>
        <a href = "/tags"> Tag</a>
      </li>
    </ul>
  </nav>
  <section>
  <%= yield %>
  </section>
  </main>
</body>
</html>
