<!DOCTYPE html>
<html>
<head>
  <title>Payment Tracker</title>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/css/table.css">

  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">

</head>
<body class = "grid">
<main>
  <nav  class = "navbar">
    <ul>
      <li>
        <a href = "/">Home</a>
      </li>
      <li>
        <a href = "/transactions/new">Add a New Transaction</a>
      </li>
      <li>
        <a href = "/transactions">View All Transactions </a>
      </li>
      <li>
        <a href = "/merchants"> Merchant Info</a>
      </li>
      <li>
        <a href = "/tags"> Tag Info</a>
      </li>
    </ul>
  </nav>

  <section class = "screen_placement">

  <%= yield %>
  </section>
  </main>
</body>
</html>
