html{
  margin:0;
  padding:0;
background-color: #E2DADB;
}
  .heading_container {
      display: flex;
      margin: 0;
      padding: 20px;
      font: inherit;
      justify-content: space-around;
      align-items: center;
      background-color: #596475;
  }
.heading_row{

  flex-direction:row;
}

.heading_cell {
  flex: 1;
  font-size: 24px;
  justify-content: center;
}

label{
  min-width: 100px;
  display: inline-block;
}
.screen_placement{
  padding: 15px 30px;
  justify-content: center;
  margin: 0px auto;
  min-width: 30%;
  max-width: 75%;
}

h2{
  color: #AA78A6;
  font-size: 20px;
  font-family: Overpass;
  font-weight: bold;

}
h1{
  color:#AA78A6;
  font-family: Overpass;
  font-weight: bold;
  font-size: 24px;
}
p{
font-family: Overpass;
}

input[type = submit]{
  font-family: Overpass;
  font-size: 15px;
padding: 5px 10px;
margin: 10px;
border-radius: 15px;
border-color: #AA78A6;
border-width: thick;
text-transform: uppercase;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


#red{

background-color: red;
min-height: 15px;
width:100%;
color: white;
padding:10px;
}
#green{

background-color: green;
min-height: 15px;
width:100%;
color: white;
padding:10px;
}
#orange{

background-color: orange;
min-height: 15px;
width:100%;
color: white;
padding:10px;
}
