
table{
padding: 5px;
border: 3px #AA78A6 solid;
border-collapse: collapse;
display: table;
}

tbody{
  background-color: white;
}
th{
  font-family: Overpass;
  margin:0;
  padding:0;
  background-color: #AA78A6;
  color: white;

}
td{
  font-family: Overpass;
  padding: 5px;
}

tr:hover {
  background-color: #B8BAC8;
}
