<div class = "screen_placement">
<h2>Add a new Tag Type </h2>

<form method = "post" action = "/tags">
  <label for = "name">Tag Name: </label>
    <input id="name" type = "text" name = "name" required/>

<br>
<br>
    <input type = "submit" value = "save"/>

</form>
</div>
